/* Establece el contenedor principal como un contenedor flex */
.ambos {
  display: flex;
  height: 100vh; /* Altura completa de la ventana */
}

/* Estilo para la mitad izquierda */
.tareas {
  flex: 1;
  padding: 20px;
  background-color: #f0f0f0;
  overflow-y: auto;
  box-sizing: border-box;
}

/* Estilo para la mitad derecha */
.productos {
  flex: 1;
  padding: 20px;
  background-color: #e0e0e0;
  overflow-y: auto;
  box-sizing: border-box;
}
